.StripeElement {
    box-sizing: border-box;
  
    height: 40px;
  
    padding: 10px 12px;
  
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: white;
  
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
  }
  
  .StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
  }
  
  .StripeElement--invalid {
    border-color: #fa755a;
  }
  
  .StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
  }


  #cart-records {
    max-width: 600px;
  }
  #cart-records .img-children, .cart-row .img-children{
    width : 100px;
    border-radius: 1px;
  }
  
  .slider-container {
        
  }

  .slider-title {
    font-size: 17px;
    text-align: center;
    font-weight: bold;
    text-transform: capitalize;
    position: absolute;
    bottom: 45px;
    width: 100%; 
    text-align: center;
    background: #1312128a;
    color:#fff;
  }

  .slider-container img {
    max-width: 100%;
  }
  #donor-cart {
    font-size: 15px;
  }
  #donor-cart-count {
    margin: 0 5px;
    color: #254151;
  }

  .add-to-cart, .remove-from-cart {
    font-size: 14px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;


  }
  .cart-empty {
    color: #6f6f02;
    font-size: 15px;
  }
  .add-to-cart.clickable, .remove-from-cart {
    color: #254151;
  }

  .cart-row {
    float: left;
    width: 100%;
  }
  .cart-row li {
      width:25%;
      float: left;
    }

    .link {
      font-size: 14px;
      text-decoration: underline; 
    }
  .btn {
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  .error {
    color: red;
  }
  .tns-nav {
    width:100%;
    display: block;
  }
  .tns-inner {
    height:420px;
    display: flex;

  }

  .tns-controls [aria-controls] {
    font-size: 15px;
    margin: 0 5px;
    padding: 0 1em;
    height: 2.5em;
    color: #000;
    background: #66CCFF;
    border-radius: 3px;
    border: 0;
}

.tns-nav > [aria-controls] {
  width: 9px;
  height: 9px;
  padding: 0;
  margin: 0 5px;
  border-radius: 50%;
  background: #ddd;
  border: 0;
}
.d-none {
  display: none !important;
}